.helo{
    /* margin-left: 100px !important; */
    text-align: center !important;
    margin-block-end: auto !important;
    width: 200px !important;
}
.oy{
    text-align: center !important;
}
.br{
    background-color: lightblue !important;
}